body {
    padding: 0px;
    margin: 0px;
    font-family: "pretendard", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
    text-align: center;
}

.bgImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity:80%;
    background-position: center;
}

.img-cover {
    opacity: 0.4;
    z-index: -1;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.full{
    background-color: black;
}

.gradation{
    background: linear-gradient( to top, black, 10%, transparent);
}

#widget {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#clock{
    font-size: 10rem;
}

#second{
    font-size: 4rem;
    font-weight: 200;
}

#day {
    font-size: 1.6rem;
    font-weight: 400;
}

.hidden {
    display: none;
}

#login-form {
    margin-bottom: 80px;
}
#login-form input {
    width: 560px;
    height: 48px;
    border: none;
    border-radius: 8px;
    padding-left: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(8px);
    box-shadow: 0 4px 30px rgba(0,0,0,.25);
    padding: 3px;
    font-size: 16px;
    padding-left: 15px;
}


#login-form input::placeholder{
    color: white;
}

#login-form input:focus{
    outline: none;
    color: white;
}


#quote {
    font-size: 1.2rem;
    font-weight: 100;
    position: absolute;
    margin: 40px;
    bottom: 0px;
    backdrop-filter: blur(2px);
}

#weather {
    font-size: 1.2rem;
    font-weight: 100;
    position: absolute;
    margin: 40px;
    bottom: 0px;
    right: 0px;
    backdrop-filter: blur(2px);
}

#todoList {
    background-color: rgba(255, 255, 255, 0.5);
    width: 450px;
    margin: 80px auto;
    border-radius: 20px;
    padding: 5px;
}

#todo-form input{
    border: none;
    border-bottom: 2px solid white;
    background-color: transparent;
    margin: 20px;
    padding: 5px;
    width: 180px;
}

#todo-form input::placeholder {
    color: white;
}

#todo-form input:focus {
    outline: none;
    color: white;
}


#todo-list {
    text-align: left;
    list-style-type: none;
}

#todo-list button {
    margin: 0px 10px 10px 0px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    
}